---
const {
  title = "Tamunodein(PrinceOdein) | Software Engineer",
  description = "Software engineer focused on web, Web3, backend systems, and game development.",
} = Astro.props;

import "../styles/global.css";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
</style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <link rel="icon" type="image/png" href="./favicon.svg" />
  </head>
  <body class="audiowide-regular bg-zinc-950 text-zinc-100">
    <slot />
  </body>
</html>
